{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <input type="checkbox" id="menu-toggle" class="hidden peer" />
    <label for="menu-toggle" class="block sm:hidden p-2 text-dark2-color">
    <i class="fa-solid fa-bars text-dark2-color"></i>
  </label>

  <nav class="hidden peer-checked:block absolute top-16 left-0 w-full bg-white sm:bg-transparent shadow-md sm:static sm:shadow-none sm:block">
    <ul class="flex text-sm items-center sm:justify-end flex-col gap-y-2 p-4 sm:flex-row sm:gap-x-1 sm:p-0 sm:text-dark2-color">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "level" 0) }}
      {{ if site.Params.search.enable }}
        <button class="w-6 cursor-pointer" data-target="search-modal">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      {{ end }}
    </ul>

  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $level := .level }}
  {{- $total := len .menuEntries }}
  {{- range $index, $menu := .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $currentURL := $page.RelPermalink }}
    {{- if .URL }}
      {{- if eq .URL "/" }}
        {{- if eq $currentURL "/" }}
          {{- $attrs = merge $attrs (dict "class" "active" "aria-selected" "true") }}
        {{- end }}
      {{- else }}
        {{- if or (eq $currentURL .URL) (hasPrefix $currentURL (printf "%s" .URL)) }}
          {{- $attrs = merge $attrs (dict "class" "active" "aria-selected" "true") }}
        {{- end }}
      {{- end }}
    {{- end}}
    {{- $name := .Name }}
    {{- $icon := default "" .Params.Icon }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}

    <li class="relative group cursor-pointer text-nowrap py-1">
      <a
        class="aria-selected:text-primary sm:text-base hover:bg-gray-200/80 p-1 px-2 rounded-md"
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >
      {{ if not (eq $icon "") }} <i class="{{ $icon }} pr-1"></i> {{ end }}
      {{ $name }}</a>

      {{- with .Children }}
        <div class="group-hover:block absolute -right-4 hidden h-auto bg-white border border-gray-100 shadow-md p-4 rounded-md">
          <ul class="w-auto">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "level" (add $level 1)) }}
          </ul>
        </div>
      {{- end }}
    </li>

    {{- if eq $level 0 }}
      <li class="hidden sm:block">·</li>
    {{- end }}
  {{- end }}
{{- end }}
